@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "CreatoDisplay-MediumItalic";
    src: url("../CreatoDisplay-MediumItalic.otf") format('opentype');
    background-color: aquamarine; // #fddb27ff
    width: 100%;
    height: 100vh;
}

a{ 
    display: inline-block;
    margin: auto;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;

}
footer {
    font-family: "CreatoDisplay-MediumItalic";
    src: url("../CreatoDisplay-MediumItalic.otf") format('opentype');
    font-size: 15px;

}

.title {
    display: flex;
    flex-direction: column-reverse;
    writing-mode: vertical-lr;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: wordanimation 20s linear infinite;

}
h1 {
    font-family: "CreatoDisplay-MediumItalic";
    src: url("../CreatoDisplay-MediumItalic.otf") format('opentype');
    font-size: 150px;
    color: #000000;
    margin-top: 50px;
}

h2 {
    font-family: "CreatoDisplay-MediumItalic";
    src: url("../CreatoDisplay-MediumItalic.otf") format('opentype');
    margin-left: 100px;
    margin-bottom: 80px;
    font-size: 70px;
    color: #ffffff;
}



h3{
    font-family: "CreatoDisplay-MediumItalic";
    src: url("../CreatoDisplay-MediumItalic.otf") format('opentype');
    font-size: 15px;
    padding: 50px;
    color: #000000;
}

@keyframes wordanimation{
    0%{
        background-position: 0%;
    }
    100% {
        background-position: 50%;
    }
}
.console{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}
.div-audio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-audio audio {
    margin: 10px auto;
}

.stopwatch {
    min-height: 40px;
    color: #ffffff;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform: scale(.98);
}
button.rec1, button.rec2, button.rec3, button.rec4, button.rec5, button.rec6, button.rec7, button.rec8, button.rec9, button.rec10, button.rec11, button.rec12 {
    width: 80px;
    height: 80px;
    color: #ffffff;
    margin: 5px;
    border-radius: 50%;
    background: rgb(255,0,0);
}

button.stop1, button.stop2, button.stop3, button.stop4, button.stop5, button.stop6, button.stop7, button.stop8, button.stop9, button.stop10, button.stop11, button.stop12 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
    background: rgb(36,36,36);
    color: #ffffff
   
}

.batch {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 100px;
    vertical-align: middle;
    
    
}

.essential {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

audio {
    outline: none;
    width: 300px;
    height: 30px;
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

audio:-webkit-media-controls-play-button {
    background-color: red;
    border-radius: 50%;
}

audio:-webkit-media-controls-panel {
    background-color: #313131;
    color: #ffffff;
}

audio:-webkit-media-controls-overlay-enclosure{
    display: none;
}

audio:-webkit-media-controls-current-time-display,
audio:-webkit-media-controls-time-remaining-display{ 
    color: #ffffff;
}

img.home {
    display: block;
    margin: 10px auto;
}

img.refresh {
    display: block;
    margin: 10px auto;
}



.div-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    display: flex;
    justify-content: center;
}

.devices-status {
    position: absolute;
    bottom: 3%;
    min-height: 13px;
    padding: 8px;
    color: #ffffff;

    opacity: 1;
    visibility: visible;
    transition: 3s ease-in-out;
} 

.devices-status.hide{
    opacity: 0;
    visibility: hidden;
    min-height: 0;

}
.scale{
    animation: scale 3s linear infinite;
}
@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}


