body {
	background-color: rgb(252, 87, 94);

}


p1 { /* Photographs. */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 170px;
	color: white;
}


h1 { /* Itaewon */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;
	text-decoration: none;
}




h2 { /* Jongno */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;
	text-decoration: none;

}


h3 {  /* Hongdae */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;
	text-decoration: none;

}


h4 { /* Itaewon */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;
	text-decoration: none;

}


h5 { /* Insadong */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;
	text-decoration: none;

}


h6 { /* Gwanghwamun */
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;
	text-decoration: none;

}


h7 { /* WELCOME TO SEOUL */
	font-family: CreatoDisplay-MediumItalic;
	src: url(CreatoDisplay-MediumItalic.otf);
	font-size: 100px;
	color: white;
	text-decoration: underline;

}

h7:hover {
	color: blue;
	background-color: yellow;
}

h8 {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;

}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	flex-wrap:  nowrap;
}


.mainmap {
	background-color: transparent;
	border-radius: 0px;
	transition: 0.3s;
	background-color: transparent;
	border-radius: 0px;
	transition: 0.3s;
}


.mainmap:hover{
	transform:scale(1.3);
	z-index: 2;
	
}

.onhover {
	font-size: 20px;
	color: black;

}

.Bonhover {
	position: absolute;
	color:black;
	top: 390px;
	left: 300px;

}

.places {
font-size: 100px;
	
}

.B:hover {
	font-size: 0px;
}

.B:hover:after {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	content: attr(data-hover);
	font-size: 100px;
	color: black;
}

.G:hover {
	font-size: 0px;
}

.G:hover:after {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	content: attr(data-hover);
	font-size: 100px;
	color: black;

}

.H:hover {
	font-size: 0px;
}

.H:hover:after {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	content: attr(data-hover);
	font-size: 100px;
	color: black;

}

.I:hover {
	font-size: 0px;
}

.I:hover:after {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	content: attr(data-hover);
	font-size: 100px;
	color: black;

}
.It:hover {
	font-size: 0px;
}

.It:hover:after {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	content: attr(data-hover);
	font-size: 100px;
	color: black;

}

.J:hover {
	font-size: 0px;
}

.J:hover:after {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	content: attr(data-hover);
	font-size: 100px;
	color: black;

}




a{
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	text-decoration: none;
	color: white;

}


.item2 {
	font-family: CreatoDisplay-Regular;
	src: url(CreatoDisplay-Regular.otf);
	font-size: 60px;
	color: white;
	writing-mode: vertical-rl;
	text-orientation: use-glyph-orientation;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	padding: 0px;
}


li a {
	text-decoration: none;
	display: inline-block;

}



.videolink::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;

}

.videolink: hover :: after{ /* this is for hover effect that works on the "Welcome to Seoul" which connects to wiki link */
	width: 100%;
	transition: width .3s

}

.item3 {
	font-family: CreatoDisplay-Regular;
	src: url(CreatoDisplay-Regular.otf);
	font-size: 30px;
	color: white;
	writing-mode: vertical-rl;
	text-orientation: use-glyph-orientation;
}

.map {
	align-content: center;
	width: 600px;
	height: 600px;


}




/* itaewon */


h10 {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;

}

.places {
	margin-top: 30px;
	margin-bottom: 30px
	margin-left: 30px;
}

.description {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap:  nowrap;
	margin-top: 50px;
}

.allphotos {
	margin-left: 30px
	height: 700px;
	width: 470px;
}


.alphotos {
	margin-left: 30px
	height: 700px;
	width: 470px;
}

.justthisphoto {
	height: 470px;
	width: 700px;
}
p10 {
	font-family: CreatoDisplay-Light;
	src: url(CreatoDisplay-Light.otf)
	font-size: 100px;
	color: white;
}

p11 {
	text-align: right;
	font-family: CreatoDisplay-Regular;
	src: url(CreatoDisplay-Regular.otf)
	font-size: 100px;
	color: white;
}

.words {
	font-family: CreatoDisplay-Regular;
	src: url(CreatoDisplay-Regular.otf);
	font-size: 25px;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
}
/* Banpo */



h100 {
	font-family: CreatoDisplay-Bold;
	src: url(CreatoDisplay-Bold.otf);
	font-size: 100px;
	color: white;

}

p100 {
	font-family: CreatoDisplay-Medium;
	src: url(CreatoDisplay-Medium.otf);
}


