div {
    display: flex;
}
   
h2 {
    font-family: CreatoDisplay-Bold;
    src: url('CreatoDisplay-Bold');
    align-items: center;
    font-size: 70px;
}
#myButton {
    padding: 200px;
    border-radius: 250px;
    margin-left: auto;
    margin-right: auto;

}

#ButtonTwo {
    padding: 100px;
    border-radius: 250px;
    margin-left: auto;
    margin-right: auto;

}
   
#myButton:hover {
    background-color: rgb(97, 95, 224);
    border: 8px solid rgb(255, 225, 92);
}

   
#ButtonTwo:hover {
    background-color: rgb(240, 83, 83);
    border: 8px solid rgb(231, 50, 255);
}


.slidecontainer {
    width: 80%; /* Width of the outside container */
  }
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ce3636; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #87adff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }